.about,
.clientsabout,
.newsandevents {float:left;}

.main_nav__submenu {margin-top:2px;}
.why_we__list li {float:left;}

.services__list__item {display: inline;}

.orders_box__content__confirm {padding:5px ; font-family:Calibri;}

.article__contents > li > ul a {margin-left:5px;}
.article__contents > li > ul {list-style:url(../images/main/article__contents__list-item-img_ie7.png) inside;}

.portfolio__section__list__item {display:inline;}
.progect__slider .nav a {display:inline; text-indent:0; height:0; padding-top:13px; overflow:hidden;}